/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


h1, h2, h3, h4, h5, h6, p , a , q, li, ul, ol{
    font-family: 'Roboto', sans-serif;
}

/*Container cabeçalho*/

.st-emotion-cache-1legdae{ 
    text-align: center;
} 

.e1f1d6gn2{
    width: 110%;
    margin: 0 auto;
}

/* title_numbered_blue_dot */
.li-blue-dot { 
    display: flex;
    width: 100%;
}

.blue-dot {
    font-size: 33px;
    width: 130px;  
    height: 130px; 
    background-color: #0d04ff;
    color: white;
    border-radius: 50%;
    margin-right: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.title-blue-dot {
    font-size: 33px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;  
    align-items: center;
    vertical-align: bottom; 
    height: 100%;
    padding-top: 5px;
}

